.asci {
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
}

h1.asci{
    vertical-align: 100px;
}
body.home-page {
    text-align: center;    
    border-style: dashed;
    font-family: 'Inconsolata', monospace;
}
.home-text {
    text-align: left;
    padding: 10px;
}

#home {
    background-image: url("../images/banner-background.jpg");
    min-height: 1000px;
}

.entire-body{
    border-style: double;
    border-width: 5px;
    margin: 5px;
}
.banner{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.home-desc{
    border-style: ridge;
    background-color: rgba(94, 255, 0, 0.274); 
}

.home-desc-odd{
    font-family: 'Six Caps', sans-serif;
    font-size: 120px;
    font: bolder;
    min-height: 300px;
    color: white;
    font-stretch: extra-expanded;
    text-align: center;
    background-image: url(../images/banner-background-text.png);
    background-position: 40px;
}

.home-desc-odder{
    background: yellow;
    font-family: 'IM Fell Great Primer', serif;
    font-size: 200%;
}

.ad3 {
    border-radius: 15px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
  }
.ad3:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }

#galaxy {
    background-image: url("../images/starry.jpg");
    min-height: 1000px;
    color: rgb(255, 243, 136);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-shadow: -.5px 0 yellow, 0 .5px yellow, .5px 0 yellow, 0 -.5px yellow;  
    border: dotted;
}

.solar-system{
    padding-top: 50px;
}

.earth {
    display: inline-flex;
    position: absolute;
    right: 20px;
    width: 1200px;
  }

.mars {
    display: inline-flex;
    position: absolute;
    top: 1800px;
    left: 30px;
    padding: 30px;
}

.saturn {
    display: inline-flex;
    position: absolute;
    top: 2150px;
    right: 30px;
    width: 80%;
}

.quiz{
    background-color: aqua;
    min-height: 1000px;
    border: 40px solid transparent;
    border-image: url("../images/hunk.jpg") 60 round ;
    background: url("../images/hunk.jpg");
    color: purple;
    font-size: 38px;
    font-stretch: extra-expanded;
    -webkit-text-stroke: 2px white;
    text-align: center;

}

.god-container {
    position: absolute;
    width: 100%;
  }
  
.god{
    border: 10px solid gold;
    height: auto;
    border-radius: 50%;
    width: 40%;
    display: inline-block;
    margin: 0 auto;
    
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/hunk.jpg);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 5s ease;
  }
  
  .god-container:hover .overlay {
    height: 100%;

  }
  
  .text {
    white-space: pre-wrap; 
    color: rgb(9, 81, 153);
    font-family: 'Inconsolata', monospace;
    font-size: 80px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .white-space{
      height: 5000px;

  }
  .construction{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }



